.boldText {
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.lightText {
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.colorText {
    color: #BD1A1A;
}

.section {
    padding: 112px 64px;
    display: flex;
    gap: 8rem;
}

.padding {
    padding: 112px 64px;
}

.blackBtn {
    padding: 8px 20px;
    background-color: #000;
    color: white;
}

.hiddenOnMobile {
    display: block;
}

.hiddenOnDesktop {
    display: none;
}

@media screen and (max-width: 712px) {
    .section {
        padding: 64px 20px;
        flex-direction: column;
        gap: 0;
    }

    .padding {
        padding: 64px 20px;
    }

    .colorText {
        color: #000;
    }

    .hiddenOnMobile {
        display: none;
    }

    .hiddenOnDesktop {
        display: block;
    }
}

         
.btnStyle1 {
    background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width: 100%;
  }

  .btnStyle1:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
 
           
  .btn-grad {
    background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 