.accordionHeading {
    background-color: #000;
    color: #fff;
    border-top: 1px solid #fff;
    padding: 0.8rem 0;
}

.accordionButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionPanel {
    text-align: left;
    padding-bottom: 1rem;
    color: #fff;
}